
    <link rel="stylesheet" href="style.css" /> <!-- STYLE-->


<section id = 'homeHero'>
    <img src="foodDelivery.jpg" alt="Hero Section IMG" >

    <h1>Forget About Cooking and Cleaning, Enjoy Your Meal!</h1>
</section>
<div class='content'>
    <div id = "contents">
        {{#each homeContent}}
            <div class="content_grid">
                <img src= {{this.image}} alt="Content Pic"><br>
                <h2>{{this.name}}</h2>
                <h3>{{this.description}}</h3>
            </div>
        {{/each}}
    </div>
    

</div>
<div id = 'homeFood'>
    <h1>Our chefs are making these right now!</h1>
    <h2>You could be chowing down on any of these meals any time you choose - seriously!
        Order some (or all) of these meals and see why thousands of Canadians stock us in their fridge!
    </h2>
    {{#each homeFood}}
    <div class = 'homeFood_grid'>
        <img src= {{this.image}} alt="Meal Pic"><br>
        <h2>
            {{this.name}}
        </h2>
        <p>{{this.price}}</p>
    </div>

    {{/each}}
</div>

