
<div class = 'listingHero'>
    <img class = "commonHero" src="/img/hero.jpg" alt="Common Hero">
    
    <h1>List of Modifiable Meal Packages</h3>
</div>
<div id='listingContent'>
      {{#each listingFood}}
        <div class="listingFood_grid">
            <img class = "packages" src="/img/{{this.image}}" alt="Meal Pic"><br>
            <h2>{{this.name}}</h2>
            <h3>Category: {{this.category}}</h3>
            <p>{{this.description}} <br>
            Number of Meals: {{this.number_meals}}<br>
            Top Meal?
             </p>
             <div id = 'top'> 
                 {{#if this.top}}
                 <img  src="/img/true.png" alt="True">
                 {{else}}
                 <img src="/img/false.png" alt="False">
                 {{/if}}
             </div>
            <h3>{{this.price}}</h3>

           <button  type="button" onclick="location.href='/viewMeal/{{this.name}}'">Edit Meal Package</button>

        </div>
    {{/each}}
</div>